@charset "UTF-8";

html {
	overflow: scroll;
	overflow-x: auto;
	background:#C4E261;
	background: -moz-linear-gradient(center top , #C4E261, #99b04c) fixed;
	background: -webkit-gradient(linear, center top, center bottom, from(#C4E261), to(#99b04c)) fixed;
	background: -o-linear-gradient(top,  #C4E261, #99b04c) fixed;
	background: -ms-linear-gradient(center top, #C4E261. #99b04c) fixed;
	background: linear-gradient(center top, #C4E261, #99b04c) fixed;
}
body {
	background-color:#ffffff;
	color:#000000;
	font-family:"Bitstream Vera Sans","Verdana",sans-serif;
	width:50%;
	min-width:33em;
	border:1px solid #000;
	box-shadow:5px 5px 3px 0px #333333;
	padding:10px;
	margin:10px auto 20px auto;
	border-radius:10px;
	z-index:100;
}

#nav {
	margin:0;
	margin-left:-211px;
	width:200px;
	padding:0;
	text-align:right;
	float:left;
}

a {
	color:#FF950E;
	text-decoration:none;
	border-bottom:1px solid #FF950E;
}
a:hover {
	border-bottom:1px solid #000000;
}

header h1 {
	color:#0084D1;
	margin:5px auto;
	text-align:center;
	max-width:800px;
	border-bottom:1px solid #0084D1;
}

#nav li {
	list-style-position:none;
	list-style-type:none;
	padding:0px 0px;
	margin:0 0 15px 0;
}
#nav li a {
	color:#C4E261;
	text-decoration:none;
	border:none;
	background-color:#404a20;
	padding:5px 10px;
	border:1px solid #000;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-right:none;
	z-index:50;
	box-shadow:0px 0px 3px 0px #333333;
}

#nav li a:hover {
	background-color:#6c7d36;
	border:1px solid #000;
	border-right:none;
}

h2 {
	border-bottom:1px solid #bbbbbb;
}
h3 {
	border-bottom:1px solid #dddddd;
}

iframe {
	width:30em;
	height:30em;
	border:1px solid #cccccc;
}

@media (max-width: 800px) {
	body {
		width:auto;
		margin:10px;
	}
	#nav {
		margin:10px;
		float:none;
		width:auto;
		text-align:center;
	}
	#nav li {
		display:inline;
	}
	#nav li a {
		border:1px solid #000;
		border-radius:5px;
	}
	#nav li a:hover {
		border:1px solid #000;
	}
}

/** VIM **/
pre.vim { padding:5px; white-space: pre-wrap; font-family: monospace; color: #e4e4e4; background-color: #080808; border-left:5px solid rgb(150,150,150);position:relative;margin-bottom:16px;}
pre.vim .lnr { color: #767676; background-color: #1c1c1c; padding-left:3px;}
pre.vim .Todo { color: #0000d7; background-color: #00ffff; }
pre.vim .Number { color: #d7875f; }
pre.vim .Type { color: #87d700; }
pre.vim .String { color: #87d75f; }
pre.vim .Special { color: #d7ffd7; }
pre.vim .Function { color: #87d700; }
pre.vim .Statement { color: #87afff; }
pre.vim .PreProc { color: #d7875f; }
pre.vim .Comment { color: #949494; }
pre.vim .Keyword { color: #87afff; }
pre.vim .Constant { color: #d7875f; }
pre.vim .PreProc { color: #d7875f; }
pre.vim .Identifier { color: #87d700; }
pre.vim .showHide { cursor:pointer; position:absolute; bottom:-11px; font-size:8px; background-color:#666; color:#fff; left:20px; height:10px; line-height:10px; padding:0 10px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border:1px solid #000; border-top:0; }
code.vim { padding:5px; white-space: pre-wrap; font-family: monospace; color: #87D700; background-color: #080808; border-left:5px solid rgb(150,150,150)}
